# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\joela\OneDrive - Universidad Nacional de Costa Rica\2020\2Semestre2020\Paradigmas\Math2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
